.App {
  height: 100vh;
  background-image: url('white-walls-1764702.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo-list {
  position: relative;
  margin: auto;
  background: #a9bcc7;
  padding: 1%;
  white-space: pre-line;
  margin-bottom: 5px;
  border: solid black 1px;
  box-shadow: 0px 5px 4px;
  border-top-style: none;
}

.banner{
  margin-top: 5vh;
  background-color: #a9bcc7;
  border: solid black 1px;
  box-shadow: 1px 0px 3px;
  border-top-style: none;
  border-bottom-style: none;
}

div.col-sm-12{
  padding: 0px;
}