.App {
  width: 100%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo-list {
  position: relative;
  margin: auto;
  white-space: pre;
  background: #c6c6c6;
  width: 35%;
  padding: 1%;
  white-space: pre-line;
  margin-bottom: 5px;
  border: solid black 1px;
  box-shadow: 0px 3px 4px;
  border-top-style: none;
}

.header{
  background-color: whitesmoke;
  width: 20%;
  margin-left: 31.5%; /*width of .todo-list minus the padding(1% of 35)*/
  text-align: center;
  margin-bottom: 0px;
  border-bottom: solid black 1px;
}

.banner{
  width: 100%;
}

