.todo-text{
	width: 500px;	
	border-bottom: solid 2px gray;
	font-size: 20px;
}

.btn {
	position: absolute;
	left: 432px;
}

button{
	width: 73px;
}

.time-stamp{
	font-size: 10px;
	font-weight: bold;
}